! Assignments and Practice Questions in class/Calculator App/WindowsFormsApp1/.vs
! Assignments and Practice Questions in class/Calculator App/WindowsFormsApp1/bin
! Assignments and Practice Questions in class/Calculator App/WindowsFormsApp1/obj

! Assignments and Practice Questions in class/Assignment_Login_Form/.vs
! Assignments and Practice Questions in class/Assignment_Login_Form/bin
! Assignments and Practice Questions in class/Assignment_Login_Form/obj


Lab 2/!Practice_PROJECT_Folder_AT_College/ConsoleApp1/bin/
Lab 2/!Practice_PROJECT_Folder_AT_College/ConsoleApp1/obj/
Lab 2/.vs
Lab 2/bin
Lab 2/obj


Lab 3 Inheritance, Overloading and Overriding/.vs
Lab 3 Inheritance, Overloading and Overriding/bin
Lab 3 Inheritance, Overloading and Overriding/obj